<button (click)= "logIn()">Login</button>
<br />
<button (click)= "getOptions()">Get Options</button>
<br />
<button (click)= "create()">create</button>
<br />
<button (click)= "edit()">edit</button>
<br />
<button (click)= "remove()">remove</button>
<br />
<button (click)= "exec()">Execute</button>
<br />
<button (click)= "findAll()">findAll</button>
<br />
<button (click)= "findAll()">findAll</button>
<br />
<button (click)= "getMovies()">Get-Movies</button>
<br />
<button (click)= "post()">Post-Movies</button>
<br />
<button (click)= "post2()">Post-Movies2</button>